* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #757E82;
	overflow-y: scroll;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 46px;
	font-weight: normal;
	color: #D9170E;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: normal;
	color: #3A3D40;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	margin-bottom: 10px;
	font-style: italic;
}

a {
	text-decoration: underline;
	color: #757E82;
	font-style: normal;
}

a:hover {
	text-decoration: none;
	color: #F40C42;
}

p {
	xfont-style: normal;
	text-indent: 15px;
	text-align: justify;
	line-height: 1.5em;
	margin-bottom: 5px;
}

#header-wrapper {
	background: url(img01.jpg) repeat-x left top;
}

#header {
	width: 900px;
	height: 130px;
	margin: auto;
}

#logo {
	float: left;
	padding-right: 10px;
}

#logo h1 {
	padding-top: 20px;
}

#logo a {
	text-decoration: none;
	padding-left: 10px;
	font-size: 10px;
	letter-spacing: 2px;
}

#menu {
	float: right;
}

#menu ul {
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	color: #383B3F;
	padding-top: 35px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	height: 65px;
	margin-right: 1px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

#menu a:hover,#menu .active a {
	color: #FFFFFF;
	background: #F40C42 url(img02.jpg) repeat-x left bottom;
}

#body {
	width: 900px;
	margin: auto;
}

#content {
	width: 630px;
	float: left;
}

#sidebar {
	width: 260px;
	float: right;
	background: url(img08.jpg) repeat-y left top;
}

#sidebar-bgtop {
	background: url(img07.jpg) no-repeat left top;
}

#sidebar-bgbtm {
	background: url(img09.jpg) no-repeat left bottom;
	padding: 40px 40px 0px 40px;
}

#sidebar ul {
	list-style: none;
	padding-bottom: 40px;
}

#sidebar li {
	background: url(img10.jpg) repeat-x left bottom;
	padding-top: 7px;
	padding-bottom: 5px;
}

#sidebar li a {
	background: url(img11.jpg) no-repeat left 3px;
	padding-left: 20px;
}

#footer-wrapper {
	background: #F7F7F7 url(img03.jpg) repeat-x left top;
	padding: 20px;
}

#footer {
	width: 900px;
	margin: 0px auto;
}

#footer p {
	text-align: center;
}

.post {
	background: url(img05.jpg) repeat-y left top;
}

.post-bgtop {
	background: url(img04.jpg) no-repeat left top;
}

.post-bgbtm {
	background: url(img06.jpg) no-repeat left bottom;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.post-bgbtm ul {
	padding-left: 40px;
	line-height: 1.5em;
	margin-bottom: 5px;
}

.dlbutton {
	width: 300px;
	padding: 0px;
	margin: auto;
}

.dlbutton a {
	text-decoration: none;
	display: block;
	background: url(download-button.png) 0px 0px no-repeat;
	height: 63px;
	padding: 15px 15px 15px 60px;
}

.dlbutton a:hover {
	background-position: -300px 0px;
	color: #757E82;
}
